@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Tilt+Neon&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titan One", sans-serif;
}

/* NAVBAR Component Styling */
.nav {
  width: 100%;
  display: flex;
}

.navr {
  padding: 25px 0px 25px 55px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navr img {
  width: 260px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  flex-direction: row;
  list-style: none;
}

#navl {
  width: 40%;
  background-color: #ffb42d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBtn1 {
  background-color: #00a850;
  border: none;
  border-radius: 12px 0px 0px 12px;
  padding: 12px 10px 12px 25px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.menuBtn2 {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #008840;
  border: none;
  border-radius: 0px 12px 12px 0px;
  padding: 12px 25px 12px 15px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}

#navl div {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300 !important;
}

#locationBtn {
  background-color: white;
}

.styleBtn {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* Main Section Styling */

.mainSec {
  width: 100%;
  display: flex;
}

.mainl {
  width: 60%;
  padding: 2% 0% 0% 10%;
  display: flex;
  /* flex-direction: column; */
}

.mainl h1 {
  font-size: 5rem;
}

.partOne {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 0px;
  width: 55%;
  gap: 25px;
}

#newBtn {
  background-color: #ef4416;
  color: white;
  font-size: 1.2rem;
  padding: 8px 12px;
  width: 3.5vw;
}


p {
  font-family: "Tilt Neon", sans-serif;
  color: #9f9c93;
  font-size: 1.2rem;
}

.chillies {
  font-size: 1.6rem;
  color: #ef4416;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.burgerImage {
  position: relative;
  width: 40%;
}

.burgerImage img {
  /* width: 100%; */
  width: 100%;
  scale: 1.7;
  top: 15%;
  position: absolute;
  left: 60%;
}

.pricingSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricingSection h3 {
  font-family: "Tilt Neon", sans-serif;
}

.orderSection{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
}

.orderSection h2{
  font-size: 2.6rem;
  color: #00a850;
}

#orderBtn{
  background-color: black;
  color: white;
}

.blurBurg{
  filter: blur(2px);
  width: 50%;
  display: flex;
  padding-top: 5%;
}
.mainr {
  width: 40%;
  background-color: #ffb42d;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}
.tags{
  z-index: 2;
  /* background-color: #00a850; */
  width: 30%;
  display: flex;
  height: 80%;
  justify-content: center;
  padding-top: 15%;
  /* align-items: center; */
  gap: 15px;
}

.tags div{
  background-color: white;
  height: 12%;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 1px 1px solid #888;
  gap: 2px;
}

.tags h3{
  color:#ef4416;
}
.tags h5{
  color: #888;
}


